- var pageTitle = "Hello Westwing"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/westwing.png"
- var icoPath = "img/favicon.png"
- var icoBackground = "#222"
- var description = "Westwing // CoverLetter"
- var viewPort = true
- var imgSufix = "img/"