footer
	h2 Contact Me
	.link
		a.icon.website(href="http://aguacatekun.com", target="_blank")
		a.icon.codepen(href="http://codepen.io/aguacatekun/", target="_blank")
		a.icon.linkedin(href="https://www.linkedin.com/in/miguel-rivas-b576bb74", target="_blank")
	a.mail(href="mailto:jmiguelrivassantos@gmail.com")
		| jmiguelrivassantos@gmail.com