aside#modal
	article.drlogic.info
		.container
			button.close
			h3 DrLogic

			.scrollContent
				p This was the second project that i worked at Pixel Perfect Tree. When it was giving to me it was an empty frontend with the provided design and a defined <em>.env.sample</em> with a basic configuration of the ports, <em>gitignored</em>, ruby version and some initial gems like <em>haml-rails</em> and <em>autoprefixer</em>.

				p I install the missing gems for <em>bootstrap</em>, <em>rail-sass</em> and proposed to the lead developer a new way to defined metadata for every project. i wasn't sure how to do that in my second project in ruby on rails but i had an idea because i made something similar in <em>Jade</em> for my portfolio and in <em>PHP</em> for Cerveza Presidente. the specifications were a function which gets all the parameters that metadata will need:

				ul
					li Page details
					li Page title
					li Keys for SEO
					li Icons in differents resolutions
					li URL for Open Graph image (Facebook Preview)

				p We agree and started an investigation for that issue them began to deploy a function similar but the parameters were in the translation file (something that was new for me but really handy). After that the project was ready to begin.

				p There were a few things missing in the design that i made and them implemented:

				ul
					li Page 404
					li Facebook Preview
					li Loading

				section.links
					a.infoBox(href="http://tinyurl.com/hw9vl3q", target="_blank")
						+imgTag( "drlogic.png" )
						.btn Go to DrLogic Home
					
					a.infoBox(href="http://tinyurl.com/hea5t9n", target="_blank")
						+imgTag( "drlogic_404.png" )
						.btn Go to DrLogic 404 Page

	article.timeline.info
		.container
			button.close
			h3 Evolution of the Web
			.scrollContent
				p This project was a research about basic info of the web, so the user in the end of the lecture can have a nice conversation of multiples topic with people of the area or RRHH. It was something like a community project.

				p At first it was supossed to be a book to be publish in Issuu but i was talking about the web, a book that talk about the web is not that cool as a webpage that talk about the web. this was the first of his kind in my portfolio.

				section.links
					a.infoBox(href="http://aguacatekun.com/project/timeline/", target="_blank")
						+imgTag( "evolution.jpg" )
						.btn Go to Evolution of the Web

					a.infoBox(href="http://aguacatekun.com/project/html-love/", target="_blank")
						+imgTag( "html-love.jpg" )
						.btn Go to HTML-Love

	article.presidente.info
		.container
			button.close
			h3 Carnaval Presidente 2015

			.scrollContent
				p This was the first big project that i worked without Backend Developer at Capital DBG.

				p When it was giving to me it was just the provided design, I build the project them the optimization began.

				p The specifications were made the website the fastest that it could because there was a lot of content. I resize all the images to the minimum width/height them optimized and made an special typography with all the icons needed.

				p After that i made individual loaders for every section and organize the info in a way that you will get the firsts sections at the begining then the galley start loading. this way you would see basic content at first while the gallery load.

				p Things that were missing in the design that i made and them implemented:

				ul
					li Facebook Preview
					li Loading

				section.links
					a.infoBox(href="http://presidente.com.do/carnaval/2015/home.php", target="_blank")
						+imgTag( "presidente.jpg" )
						.btn Go to Carnaval Presidente

	article.voxel.info
		.container
			button.close
			h3 Voxel Cube Games

			.scrollContent
				p This project was to design and implement a new cover header for the web page, a new landing page for the event and social media posts for VoxelCubeGames World Magic Cup Qualifiers 2016.

				.preview
					+imgTag( "post-01.jpg" )
					+imgTag( "post-02.jpg" )
					+imgTag( "post-03.jpg" )

				section.links
					a.infoBox(href="http://tinyurl.com/zxto6cz", target="_blank")
						+imgTag( "wmcq.jpg" )
						.btn Go to VoxelCubeGames WMCQ