section.projects

	h2
		| Some
		strong Projects

	button.drlogic
		+imgTag( "dr-logic.jpg" )

	button.timeline
		+imgTag( "evolution.jpg" )

	button.presidente
		+imgTag( "presidente.jpg" )

	button.voxel
		+imgTag( "vcg.jpg" )

	img.cloud.c03(src="img/cloud.png")
	.city